/* universal css */
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body{
     background-color: #e9e9e9;
}


/*  imp css  */
.step-border {
     border: 1px solid #c0c0c0;
     width: 500px;
     margin: 0 auto;
     position: relative;
     top: 31px;
}
.step-box {
     float: left;
     width: 233px;
     text-align: center;
     z-index: 1;
     position: relative;
 }
 .step-box a {
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     color: #565656;
     width: 5rem;
     line-height: 1.7;
 }
 .wallet-icon-span {
     width: 62px;
     height: 62px ;
     background-position: 0 -91px!important;
 }
 .avtarLogo-icon-span {
     width: 62px;
     height: 62px ;
     background-position: 0 -0px!important;
 }
 .calling-icon-span {
     width: 20px;
     height: 20px;
     background-position: -71px -155px!important;
     position: relative;
     top: 4px;
 }
 .chating-icon-span {
     width: 20px;
     height: 20px;
     background-position: -71px -67px!important;
     position: relative;
     top: 4px;
 }
 .call-icon-span {
     width: 62px;
     height: 62px ;
     background-position: 0 -183px!important;
 }
 .step-icon {
     display: -webkit-inline-box;
     background: url(img/step.webp) no-repeat;
 }
 .step-icon {
     display: -webkit-inline-box;
     background: url(img/step.webp) no-repeat;
 }

 #call-a{
      width: 6.7rem;
 }

/* util css  */
.light-show{
     opacity: .6 !important;
}
ol{
     display: flex;
}
ol li{
     list-style: none;
}
.show-path ol li:last-child a {
     color: rgb(92, 91, 91);
}
a{
     text-decoration: none;
}
a{
     color: rgb(238, 101, 52);
}